* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

:root {
    --gap_size: 2px;
    --cont_base: 800px;
    --cont_size: calc(var(--cont_base) + var(--gap_size) * 17);
    --block_size: calc(var(--cont_base) / 16);
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
}

#container {
    display: flex;
    flex-wrap: wrap;
    width: var(--cont_size);
    flex-shrink: 0;
    gap: var(--gap_size);

}

.block {
    background-color: grey;
    width: var(--block_size);
    height: var(--block_size);
}